<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="68a382">  <td>15/04/15 13:35:41</td>   <td>0</td> <td title="&gt;&gt;NewTest.beforeSuite()[pri:0, instance:test.java.NewTest@54397c28]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1870959148</td>   <td></td> </tr>
<tr bgcolor="68a382">  <td>15/04/15 13:35:45</td>   <td>3694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f(java.lang.Integer, java.lang.String, java.lang.Integer, java.lang.String)[pri:0, instance:test.java.NewTest@54397c28]">f</td> 
  <td>main@1870959148</td>   <td></td> </tr>
<tr bgcolor="68a382">  <td>15/04/15 13:35:47</td>   <td>6178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f(java.lang.Integer, java.lang.String, java.lang.Integer, java.lang.String)[pri:0, instance:test.java.NewTest@54397c28]">f</td> 
  <td>main@1870959148</td>   <td></td> </tr>
<tr bgcolor="68a382">  <td>15/04/15 13:35:50</td>   <td>8635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.f(java.lang.Integer, java.lang.String, java.lang.Integer, java.lang.String)[pri:0, instance:test.java.NewTest@54397c28]">f</td> 
  <td>main@1870959148</td>   <td></td> </tr>
</table>
