<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fec568">  <td>15/04/15 13:44:35</td>   <td>0</td> <td title="&gt;&gt;ConnectorTest.beforeSuite()[pri:0, instance:test.java.ConnectorTest@7bd1a567]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1405593879</td>   <td></td> </tr>
<tr bgcolor="fec568">  <td>15/04/15 13:44:38</td>   <td>2528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConnectorTest.f(java.lang.Integer, java.lang.String, java.lang.Integer, java.lang.String)[pri:0, instance:test.java.ConnectorTest@7bd1a567]">f</td> 
  <td>TestNG@1858789811</td>   <td></td> </tr>
<tr bgcolor="fec568">  <td>15/04/15 13:44:40</td>   <td>4996</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConnectorTest.f(java.lang.Integer, java.lang.String, java.lang.Integer, java.lang.String)[pri:0, instance:test.java.ConnectorTest@7bd1a567]">f</td> 
  <td>TestNG@1858789811</td>   <td></td> </tr>
<tr bgcolor="fec568">  <td>15/04/15 13:44:43</td>   <td>7395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ConnectorTest.f(java.lang.Integer, java.lang.String, java.lang.Integer, java.lang.String)[pri:0, instance:test.java.ConnectorTest@7bd1a567]">f</td> 
  <td>TestNG@1858789811</td>   <td></td> </tr>
</table>
